*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude/
.kotlin/
app/build/
app/release/
app/google-services.json
ic_launcher-playstore.png
